
.container_cards{
    display: flex;
    flex-wrap:wrap ;
    justify-content: space-between;
    height: 100%;
    width: 1000px;
    min-width: 480px;
    padding: 2em;
    /* background-color: ; */
}