
.container_cards{
    display: flex;
    flex-wrap:wrap ;
    justify-content: space-around;
    height: 100%;
    max-width: 1000px;
    padding: 1.75em;
}

.center{
    max-width: 1000px;
    height: 100%;
    margin: auto;
}